//breakpoints
$breakpoint-large-phone: 450px;
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1280px;

// colours 
$color-white: #FFFFFF;

// colours - potential palette
$color-porcelain: #F0F4F3;
$color-petit-orchid: #D9A49A;
$color-jaffa: #E9863A;
$color-mountain-mist: #97939C;
$color-old-lavender: #856C7F;


